.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #fff;
    box-shadow: 0px 0px 26px 1px rgba(12, 15, 17, 0.66);
    padding: 25px;
    display: flex;
    flex-direction: column;
}
